extends layout

block content
    ul
    each mail in rows.length ? rows : ['Er zijn geen mails']
        if mail.id != undefined
            div.row
                div.small-2.large-2.columns
                    a.th(href="/images/"+ mail.id + ".jpg")
                        img(src="/images/"+ mail.id + ".jpg")
                    div.row
                        div.large-12.columns= mail.name
                div.small-10.large-10.columns
                    div.row
                        h3
                            a(href="/Index/"+mail.mailid)= mail.subject
                    div.row
                        small=mail.createdat + ", van " + mail.email
        else
            div.row.alert-box.warning.radius(data-alert) Er konden nog geen mails worden geladen.

